<p>
  <strong>注文ID</strong>
  <%= @detail.order_id %>
</p>

<p>
  <strong>商品ID</strong>
  <%= @detail.product_id %>
</p>

<p>
  <strong>注文個数</strong>
  <%= @detail.count %>
</p>

<p>
  <strong>合計金額</strong>
  <%= @detail.total_price %>
</p>
